.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  color: #fff;
  min-width: 10rem;
  height: 3rem;
  background-color: #333;
  border-radius: 27px;
  cursor: pointer;

  &:hover {
    background-color: #57b846;
    border: 0;
  }
}
